body {
    background: #ffffe5;
}

img {
    display: block;
    margin: 30px auto;
    border: double 10px #FF9AA2;

}

.one {
    text-align: center;
    color:#FF9AA2;
    background-color: #FFB7B2;
    border-left: solid 5px #FF9AA2;
    border-bottom: solid 5px  #FF9AA2;
    padding: 5px;
    margin-left: 465px;
    margin-right: 465px;

}